@charset "UTF-8";

:root {
    --color1: #fff;
    --color2: #000;
    --hilight: #ff962e;
    --color-environment: rgb(86,214,44);
    --color-geopolitics: rgb(122,77,43);
    --color-standards: rgb(71,144,255);
    --basefontsize: 10pt;
}

/********
 * Fonts
 * ******/

@font-face {
    font-family: 'SourceSerif';
    font-style:  normal;
    src: url("./fonts/SourceSerif4-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'SourceSerif-Italic';
    font-style:  normal;
    src: url("./fonts/SourceSerif4-Italic.ttf") format("truetype");
}

@font-face {
    font-family: 'SourceSerif-Bold';
    font-style:  normal;
    src: url("./fonts/SourceSerif4-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'SourceSans-Regular';
    font-style:  normal;
    src: url("./fonts/SourceSans3-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'SourceSans-Bold';
    font-style:  normal;
    src: url("./fonts/SourceSans3-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'SourceSans-Italic';
    font-style:  normal;
    src: url("./fonts/SourceSans3-Italic.ttf") format("truetype");
}

@font-face {
    font-family: 'SourceCode';
    font-style:  normal;
    src: url("./fonts/SourceCodePro-VariableFont_wght.ttf") format("truetype");
}

/**
 *  Reset
 */

body {
    margin: 0;
}

hr {
    display: none;
}

/* *******
 * Basics
 * *******/

body {
    font-family: "SourceSerif";
    font-variant: common-ligatures;
    line-height: 14.5pt;
    font-size: var(--basefontsize);
    letter-spacing: 0.025em;
    color: var(--color2);
    counter-reset: pagenumbermargin;
    /*
    shape-rendering: geometricPrecision;
    text-rendering: optimizeLegibility;
    */
}

/* *******************
 * general page setup
 * *******************/

@page {
    size: 210mm 297mm;
    bleed: 3mm;
    margin-top: 15mm;
    margin-bottom: 36mm;
}

@page:left {
    margin-left: 12mm;
    margin-right: 12mm;
}

@page:right {
    margin-left: 12mm;
    margin-right: 12mm;
}

/***************
 * pagination
 * ************/

@page {
    @bottom-left:after {
        /* when using pagedjs-cli, then this should not be :after */
        content: counter(page);
        font-family: "SourceSans-Bold";
        font-variant: slashed-zero;
        font-size: 11pt;
        line-height: 12pt;
        /*width: 1.2em;*/
        border-top: 2px solid;
        vertical-align: top;
        padding-top: 0.25em;
        margin-top: 2em;
        counter-increment: pagenumbermargin;
        margin-left: calc(1em+pagenumbermargin); /* this is not working */
    }
}

/* any page that is intentionally left blank: */

@page:blank {
    @top-center { content: "This page is intentionally left blank." }
}

/* Logos section */

#logos { /* hide title but keep margin */
    display: none;
}

#logos+p {
    margin-left: 0;
}

#logos+p img {
    width: 25%;
    padding-right: 5%;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    bottom: 0;
}

#logos+p img:nth-child(1) {
    left: 0;
}

#logos+p img:nth-child(2) {
    left: 25%;
}

#logos+p img:nth-child(3) {
    left: 50%;
}

#logos+p img:nth-child(4) {
    left: 75%;
}

#logos+p img:nth-child(4n) {
    padding-right: 0;
}

/* Basic standards */

a {
    color: var(--color2);
    text-decoration: none;
}

/* page breaks */

h1, h2 {
    page-break-before: always; /* starts a new page before this elm */
}

h1, h2, h3, h4, h5 { /* no page breaks in or after titles */
    page-break-inside: avoid;
    page-break-after: avoid;
}

p:last-child {
    page-break-after: avoid;
}

table, figure { /* don't break figures and tables */
    page-break-inside: avoid;
}

li:last-child { /* prevent orphan in lists */
    break-before: avoid;
}

li:first-child { /* prevent orphan in lists */
    break-after: avoid;
}

/* ***************
 * Element styles
 * ***************/

h1, h2, h3, h4, h5 {
    margin-bottom: 0;
    font-weight: normal;
    font-family: "SourceSans-Bold", sans-serif;
    font-variant: slashed-zero;
    font-feature-settings: "ss01" on, "ss02" on, "ss10" on;
}

h2 {
    font-size: 19pt;
    line-height: 21pt;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 30mm;
}

h3 {
    font-size: 13pt;
    line-height: 17pt;
    letter-spacing: 0.01em;
    margin-bottom: 0.25em;
}

h3, h4, h5, figure, ol {
    margin-left: 64mm;
}

ul {
    margin-left: 56.5mm;
    list-style: none;
    text-align: left;
}

ul li:before {
    content: "-";
    margin-left: -0.85em;
    padding-right: 0.5em;
}

p {
    text-indent: 10mm;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 64mm;
}

p:has(code),
h2 + p,
h3 + p,
h4 + p {
    text-indent: 0;
}

li p {
    margin: 0;
    text-indent: 0;
}

p, li {
    text-align: justify;
}

blockquote {
    font-family: "SourceSerif-Italic";
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 0;
    margin-left: 74mm;
}

blockquote p,
dl p {
    margin: 0;
    text-indent: 0;
    text-align: left;
}

dl {
    margin-left: 64mm;
    margin-top: 1em;
    text-indent: 10mm;
    margin-bottom: 0;
}

dt {
    float: left;
    margin-right: 0.4em;
}

b, strong, dt {
    font-weight: normal;
    font-family: "SourceSerif-Bold";
}

i, em {
    font-family: "SourceSerif-Italic";
}

pre, code {
    font-family: "SourceCode";
    margin-left: 31.5mm;
    display: block;
}


/* Prevent superscripts and subscripts from affecting line-height */
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.3em;
}

sub {
    top: 0.4em;
}

/* tables */

table {
    font-family: "SourceSans-Regular";
    margin-left: 63mm;
    width: 123mm;
    text-align: left;
    border-collapse: collapse;
    border: .25mm solid;
}

table thead, table b, table strong {
    font-family: "SourceSans-Bold";
}

table em, table i {
    font-family: "SourceSans-Italic";
}

table tr {
    border-bottom: .25mm solid;
}

table,
table tr {
    border-color: rgba(0, 0, 0, 0.8);
}

table th,
table td {
    padding: 0 1mm;
}

/* footnote references in text */

.footnote-ref {
    text-decoration: none;
    color: #000;
    font-family: "SourceSans-Bold";
}

/**************
 * footnotes
 * ************/

.footnotes {
    page-break-before: avoid;
    page-break-inside: avoid;
    page-break-after: always;
    letter-spacing: 0;
    text-align: left;
}

.footnotes:before {
    content: " ";
    width: 10mm;
    height: 0.25mm;
    display: block;
    margin-left: 64mm;
    margin-top: 15mm;
    background-color: var(--color2);
}

.footnotes ol {
    padding: 0;
    margin-left: 62.5mm;
    list-style-type: none;
}

.footnotes li {
    text-align: left;
    font-family: "SourceSans-Regular";
    font-size: 9.5pt;
    line-height: 11.5pt;
    margin-bottom: 0.5em;
}

.footnotes li:before {
    font-family: "SourceSans-Bold";
    margin-left: -1em;
    counter-increment: footnote;
    content: counter(footnote, decimal-leading-zero);
    float: left;
}

.footnotes li p {
    margin-left: 0.5em;
}

.footnotes code {
    margin: 0;
    display: inline-block;
}

/* To get the pandoc-generated bibliography to match style, define csl classes. */

#references {
    content: "Bibliography";
}

.csl-bib-body {
    margin-left: 64mm;
}

.csl-entry {
    margin-bottom: .5em;
}

/* toc,
 * crazy hack: the h2+ only works if we pass a toc-title */

h2+ul ul,
h2+ul li,
h2+ul li:before {
    margin: 0;
    padding: 0;
}

h2+ul li:before {
    content: "";
}

h2+ul > li {
    font-family: "SourceSerif-Bold";
}

h2+ul > li > ul > li {
    font-family: "SourceSerif";
}

h2+ul li a {
    width: 114mm; /* that's the cool thing about a fixed output size, you can calulate… */
    display: block;
    text-align: left;
}

h2+ul li a:after {
    content: leader(' ') target-counter(attr(href), page); /* leader could also be a dot */
}
