@charset "UTF-8";

:root {
    --hilight: #ff962e;
    --color-environment: rgb(86,214,44);
    --color-geopolitics: rgb(122,77,43);
    --color-standards: rgb(71,144,255);
}

@page {
    size: 210mm 297mm;
    bleed: 3mm;
    margin: 12mm;
}

@page:first {
    background: var(--hilight);
}

p > img { /* cover background image */
    position: absolute;
    top: -15mm;
    left: -3mm;
}


