@charset "UTF-8";

:root {
    --hilight: #ff962e;
    --color-environment: rgb(86,214,44);
    --color-geopolitics: rgb(122,77,43);
    --color-standards: rgb(71,144,255);
}

@font-face {
    font-family: 'SourceSans-Bold';
    font-style:  normal;
    src: url("./fonts/SourceSans3-Bold.ttf") format("truetype");
}


@page {
    size: 210mm 297mm;
    bleed: 3mm;
    margin: 12mm;
}

@page:first {
    background: var(--hilight);
}

body {
    font-family: "SourceSans-Bold";
}

p > img { /* cover background image */
    position: absolute;
    top: -15mm;
    left: -115mm;
}

#header {
    transform: rotate(28deg) translateY(15mm) translateX(10mm);
    transform-origin: 0 50%;
    width: 153mm;
}

h1 {
    font-size: 27pt;
    line-height: 27pt;
    padding: 0;
    margin: 2pt 0 0 0;
}

h2 {
    font-size: 18pt;
    line-height: 18.5pt;
    position: absolute;
    top: 156mm;
    left: 135mm;
}

.category {
    position: absolute;
    top: 0;
    right: 0;
    width: 15mm;
    height: 15mm;
    display: block;
    border-radius: 50%;
}

.category.geopolitics {
    background: var(--color-geopolitics);
}

.category.environment {
    background: var(--color-environment);
}

.category.standards {
    background: var(--color-standards);
}

.category.standards-geopolitics {
    background: var(--color-standards);
    box-shadow: -5mm 0 0 var(--color-geopolitics);
}

.category.environment-geopolitics {
    background: var(--color-environment);
    box-shadow: -5mm 0 0 var(--color-geopolitics);
}

.category.environment-standards {
    background: var(--color-environment);
    box-shadow: -5mm 0 0 var(--color-standards);
}

.category.all {
    background: var(--color-standards);
    box-shadow: -5mm 0 0 var(--color-environment), -10mm 0 0 var(--color-geopolitics);
}
